.overlay {
    position: fixed;
    inset:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);

    display:flex;
    flex-direction:column;
    gap:10px;

    width:75dvw;
    border-radius:8px;
    z-index:10;
    padding:20px;
    text-align:start;


    background-color: var(--modal-background-color);
    color: var(--text-color);
    border:1px solid var(--text-color);
}

.modalHeader {
}

.modalText {
}

.modalBody {
    padding:0 0 0 20px;
}

.modalFooter {
}
