.postCard {
    display: flex;
    flex-direction: column;
    gap:5px;
    border-radius: 12px;
    border:1px solid black;
    background-color:var(--background-color);
    color:var(--text-color);
}

.postCard__author {
    text-align: start;
    background: var(--button-hover-color);
    border-radius: 12px 12px 0 0 ;
    padding: 8px;
    text-decoration: none;
    font-weight: 700;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}

.postCardWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 8px;
}

.postCardBodyWrapper {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &:hover {
        color:var(--text-color-hover);
    }
}

.postCardBodyWrapperDisableHover {
    cursor:default;

    &:hover {
        color:inherit;
    }
}

.postTitle {
    margin-block-end: 10px;
}

.postCardBody {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: justify;
    text-indent: 1rem;
    text-overflow: ellipsis;
    max-height: 5rem;
}

.postCardBody__expanded {
    min-block-size: fit-content;
    -webkit-line-clamp: none;
}

.commentsBlockWrapper {
    display: flex;
    flex-direction: column;
}
