.userTabsAll {
  display: flex;
  justify-content: space-between;
  gap:10px;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.userTabsAllNav {
  display: flex;
  gap: 10px;

  @media (max-width: 600px) {
    justify-content: center;
  }
}

.userTabsLink {
  padding: 10px;
  border-radius: 12px;
  background-color: var(--background-color);
  color: var(--text-color);
  outline: 1px solid black;

  text-decoration: none;

  &:hover:not(.active) {
    background-color: var(--button-hover-color);
  }
}

.userTabsLinkActive {
  background-color: gray;
  color: var(--text-color);
}

.userTabsLinkBack {
  @media (max-width: 600px) {
    max-inline-size: 300px;
    inline-size: 100%;
    align-self: center ;
  }
}
