.commentsBlock {
  padding:1rem 0 0;
  display:flex;
  flex-direction: column;
  align-items: start;
  gap:8px;
}

.commentsBlock__comment {
  list-style: none;
  inline-size: 100%;
  display: grid;
  grid-auto-flow: row;
  background-color: var(--comment-background-color);
  border-radius: 8px;
  padding: 0.25rem 0.75rem;
}
