.commentsBlock__comment_text {
  justify-self: start;
  text-align: start;
}

.commentsBlock__comment_other {
  display: flex;
  font-size: 12px;
  justify-content: start;
  gap:10px;
}

.commentsBlock__comment__author {
  text-decoration: none;
  font-weight: 700;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}
