.albumsListWrapper {
  padding:1rem 0 0;
  align-self: center;
}

.albumsList {
  list-style: none;
  display: flex;
  flex-basis: fit-content;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap:10px;
  background-color: var(--background-color);
  border-radius: 8px;
  padding: 0.5rem;
}

.albumsItem {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--comment-background-color);
  padding:10px;
  cursor:pointer;
  border-radius: 8px;
  inline-size: 22vw;
  block-size: 150px;

  @media (max-width:1080px) {
    inline-size: 33vw;
  }

  @media (max-width:750px) {
    inline-size: 66vw;
  }
}
