.photoListWrapper {
  padding:1rem 0 0;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap:10px;
}

.photoList {
  list-style: none;
  display: flex;
  flex-basis: fit-content;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap:10px;
  background-color: var(--background-color);
  border-radius: 8px;
  padding: 0.5rem;
}

.photoItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border-radius: 8px;
  background-color: var(--comment-background-color);
  padding:10px;
  inline-size: 22vw;

  @media (max-width:1080px) {
    inline-size: 33vw;
  }

  @media (max-width:750px) {
    inline-size: 66vw;
  }
}
