
.todoCheck {
  position: relative;
  display: inline-block;
  align-self: center;
  width: 24px;
  height: 24px;
}

.todoItemCheckBox {
  opacity: 0;
  width: 0;
  height: 0;
}

.checkBox {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border-radius: 4px;
}

.checkBox:before {
  content: " ";
  line-height: 1;
}

input:checked + .checkBox {
  background-color: var(--background-color);
  inline-size: 24px;
  block-size: 24px;
  font-size: 16px;
}

input:checked + .checkBox:before {
  color:var(--text-color);
  content: "✓";
}

.todoItemTitle {
  color: var(--text-color);
}
