/*------------------------------Theme Variables-----------------*/
:root {
  --main-layout-padding: 2rem;
}

/*------------------------------Default Styles------------------*/
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow-x:hidden;

  color-scheme: light dark;

  background-color: #d1d1d1;
  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.darkTheme {
  --background-color: #252525;
  --text-color: white;
  --text-color-hover: rgba(210, 210, 210, 0.8);
  --modal-background-color: #252525;
  --button-hover-color: rgb(100, 100, 100);
  --comment-background-color: #3c3c3c;
}

.lightTheme {
  --background-color: white;
  --text-color-hover:  rgba(45, 45, 45, 0.8);
  --text-color: black;
  --modal-background-color: white;
  --button-hover-color: rgba(45, 45, 45, 0.2);
  --comment-background-color:#d3d3d3;
}
